<p-dialog class="entity-dialog" [header]="entity?.name" [modal]="true" [(visible)]="visible"
  [style]="{ width: '50rem' }" (onHide)="onClose()">
  @for (item of entity?.fields; track $index) {
  <div class="form-field">
    <label class="form-label" for="{{item.label}}">{{item.label}}</label>
    @switch (item.type) {
    @case ("string") {
    <input class="form-control" pInputText id="{{item.label}}" autocomplete="off" [(ngModel)]="item.value"
      (ngModelChange)="onFieldChange(item.key, item.value)" [disabled]="item.disabled" />
    }

    @case ("textarea") {
    <textarea class="form-control textarea" id="{{item.label}}" cols="30" [(ngModel)]="item.value"
      (ngModelChange)="onFieldChange(item.key, item.value)" [disabled]="item.disabled"></textarea>
    }

    @case ("number") {
    <input class="form-control" pInputNumber id="{{item.label}}" autocomplete="off" [(ngModel)]="item.value"
      (ngModelChange)="onFieldChange(item.key, item.value)" [disabled]="item.disabled" />
    }
    @case ("date") {
    <p-calendar class="form-control calendar-small" id="{{item.label}}" [(ngModel)]="item.value"
      (ngModelChange)="onFieldChange(item.key, item.value)" [disabled]="item.disabled" />
    }
    }

  </div>
  }

  <div class="dialog-footer">
    <p-button label="Cancel" severity="secondary" (onClick)="onClose()" />
    <p-button label="Save" (onClick)="submit()" />
  </div>
</p-dialog>