<div class="login-container">
    <h2>Iniciar sesión</h2>

    <form [formGroup]="loginForm" (ngSubmit)="submit()">

        <div class="field">
            <label>Email</label>
            <input type="text" pInputText formControlName="email" [ngClass]="{
    'ng-invalid ng-dirty':
      loginForm.get('email')?.invalid &&
      loginForm.get('email')?.dirty
  }" />

        </div>

        <div class="field p-8">
            <label class="font-extrabold">Contraseña</label>
            <p-password formControlName="password" [toggleMask]="true" [feedback]="false" [ngClass]="{
                'ng-invalid ng-dirty': loginForm.get('password')?.invalid && loginForm.get('password')?.touched
              }">
            </p-password>
        </div>

        <div class="error" *ngIf="error">
            {{ error }}
        </div>


        <p-button type="submit" [label]="loading ? 'Ingresando...' : 'Log in'" [disabled]="loading || loginForm.invalid"
            severity="contrast" />

        <!-- <button type="submit" [disabled]="loading">
            {{ loading ? 'Ingresando...' : 'Entrar' }}
        </button> -->

    </form>
</div>