.notFound {
  width: 100%;
  justify-items: center;
}

.imgDiv {
  height: 35rem;
  @media (min-width: 765px) {
    height: 100%;
    width: 35rem;
  }
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.p-button {
  padding: 0.5rem 3.5rem;
}

.p-button span {
  font-size: 1.25rem;
}
