.task-wrapper {
  max-width: 1100px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.task-card h2 {
  margin: 0;
}

.description {
  color: #555;
  line-height: 1.5;
}

.task-info-item {
  display: flex;
  justify-content: space-between;
}
