.employee-header {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.employee-card h2 {
  margin: 0;
}

.description {
  color: #555;
  line-height: 1.5;
}

.employee-info-item {
  display: flex;
  justify-content: space-between;
}
